# ---- Go ----
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
vendor/

# ---- Dart / Flutter ----
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# ---- IDE / 编辑器 ----
.idea/
.vscode/
*.swp
*.swo

# ---- 操作系统 ----
.DS_Store
Thumbs.db